body {
	margin: auto;
    padding: 0px;
	background-color:#696969;
	background-attachment: fixed;
}
div {
	border: 2px solid #FFFFE0;
	margin: 2px;
	padding: 2px;
}
#header {
	background-color: #B0C4DE;
	width: 99%; 
	height: 180px;
}
#header p{
	color: #696969; 
	font-style: italic; 
	text-align: center;
	font-family: Georgia;
	text-transform: capitalize;
	font-size: 450%;
	padding-left: 100px;
}
#menu {
	background-color: #B0C4DE;
	width: 99%; 
	height: 60px;
}
#menu a:first-child{
	color: #696969; 
	font-family: Serif; 
	text-align: center;
	text-transform: capitalize;
	font-size: 200%;
	padding-left: 70px;
}
#menu a:nth-of-type(2){
	color: #696969; 
	font-family: Serif; 
	text-align: center;
	text-transform: capitalize;
	font-size: 200%;
	padding-left: 100px;
}
#menu a:nth-of-type(3){
	color: #696969; 
	font-family: Serif; 
	text-align: center;
	text-transform: capitalize;
	font-size: 200%;
	padding-left: 100px;
}
#menu a:nth-of-type(4){
	color: #696969; 
	font-family: Serif; 
	text-align: center;
	text-transform: capitalize;
	font-size: 200%;
	padding-left: 100px;
}
#menu a:nth-of-type(5){
	color: #696969; 
	font-family: Serif; 
	text-align: center;
	text-transform: capitalize;
	font-size: 200%;
	padding-left: 100px;
}
#right {
	background-color: #DCDCDC;
	width: 76%; 
	height: 1950px;
	float: right;
	margin-top: 50px;
	margin-left: 15px;
}
#right #pep1 img {
	float: right;
	height:430px;
	width:300px; 
	margin-right:-50px;
	margin-left: 80px;
}
#right #pep1 {
	margin-left:15px;
	margin-top:40px;
	margin-right: 65px;
	font-style: italic; 
	text-align: center;
	font-size: 20px;
	color: black;
}
#right #pep2  {
    margin-left:-90px;
	margin-top: 50px;
	margin-right: 40px;
	font-style: italic; 
	text-align: center;
	font-size: 20px;
	color: black;
}
#right #pep3 img{
	float: center;
	height:400px;
	width:540px; 
	margin-left: -50px;
	margin-top: -50px;
	overfloat: auto;
}
#right #pep4  ul {
	margin-left: 15px;
	margin-top: 40px;
	margin-right: 65px;
	font-style: italic; 
	text-align: center;
	font-size: 20px;
	color: black;
}
#left { 
	background-color:#C0C0C0;
	width: 21%; 
	height: 1950px;
	float: left;
	margin-top: 50px;
}
#left  a:first-child{
	color: #2F4F4F;
	text-align: center;
	text-transform: capitalize;
	font-family: Monospace;
	font-size: 1.5em;
	padding-left: 90px;
}
#left a:nth-of-type(2){
	color: #2F4F4F;
	text-align: center;
	text-transform: capitalize;
	font-family: Monospace;
	font-size: 1.5em;
	padding-left: 70px;
}
#left a:nth-of-type(3){
	color: #2F4F4F;
	text-align: center;
	text-transform: capitalize;
	font-family: Monospace;
	font-size: 1.5em;
	padding-left: 40px;
}  
#left a:nth-of-type(4){
	color: #2F4F4F;
	text-align: center;
	text-transform: capitalize;
	font-family: Monospace;
	font-size: 1.5em;
	padding-left: 70px;
}
#left a:nth-of-type(5){
	color: #2F4F4F;
	text-align: center;
	text-transform: capitalize;
	font-family: Monospace;
	font-size: 1.5em;
	padding-left: 50px;
}
#footer {
	background-color: #B0C4DE;
	width: 98.2%; 
	height: 50px;
	position: absolute; 
    margin-top: 2000px;
}
#footer #one {
	 width: 30%;
	 display: inline;
	 float: left;
	 background-color: #C0C0C0;
	 margin-top: 10px;
	 margin-left: 120px;
	 color: #2F4F4F;
}
#footer #two {
	 width: 30%;
	 display: inline;
	 float: right;
	 background-color: #C0C0C0;
	 margin-top: 10px;
	 margin-right: 120px;
	  color: #2F4F4F;
 }
 
 
 
 
 
 
#menuabout {
	background-color: #B0C4DE;
	width: 99%; 
	height: 60px;
 }
#headerabout {
	background-color: #B0C4DE;
	width: 99%; 
	height: 180px;
	}
#headerabout p{
	color: #696969; 
	font-style: italic; 
	text-align: center;
	font-family: Georgia;
	text-transform: capitalize;
	font-size: 450%;
	padding-left: 100px;
}
#menuabout {
	background-color: #B0C4DE;
	width: 99%; 
	height: 60px;
}
#menuabout a:first-child{
	color: #696969; 
	font-family: Serif; 
	text-align: center;
	text-transform: capitalize;
	font-size: 200%;
	padding-left: 70px;
}
#menuabout a:nth-of-type(2){
	color: #696969; 
	font-family: Serif; 
	text-align: center;
	text-transform: capitalize;
	font-size: 200%;
	padding-left: 100px;
}
#menuabout a:nth-of-type(3){
	color: #696969; 
	font-family: Serif; 
	text-align: center;
	text-transform: capitalize;
	font-size: 200%;
	padding-left: 100px;
}
#menuabout a:nth-of-type(4){
	color: #696969; 
	font-family: Serif; 
	text-align: center;
	text-transform: capitalize;
	font-size: 200%;
	padding-left: 100px;
}
#menuabout a:nth-of-type(5){
	color: #696969; 
	font-family: Serif; 
	text-align: center;
	text-transform: capitalize;
	font-size: 200%;
	padding-left: 100px;
}
#rightabout {
	background-color: #DCDCDC;
	width: 76%; 
	height: 1950px;
	float: right;
	margin-top: 50px;
	margin-left: 15px;
}
#rightabout #who p {
	text-align: center;
	font-size: 19px;
	color: black;
	font-style: italic; 
	margin-left: -80px;
}
#rightabout #tableabout  #diva1 img:first-child{
	float: left;
	height:430px;
	width:300px; 
	margin-left: 120px; 
}
#rightabout #tableabout #diva1 img:nth-of-type(2){
	float: right;
	height:430px;
	width:300px; 
	margin-right:80px;
}
#rightabout #tableabout #diva2 p:first-child{
	text-align: center;
	font-size: 17px;
	color: #2F4F4F;
	font-style: italic; 
	padding-left:
	}
#rightabout #tableabout  #diva2 p:nth-of-type(2){
	text-align: center;
	font-size: 17px;
	color: #2F4F4F;
	font-style: italic; 
}
#rightabout #tableabout  #diva3 img:first-child{
	float: left;
	height:260px;
	width:300px; 
	margin-left: 120px; 
}
#rightabout #tableabout #diva3 img:nth-of-type(2){
	float: right;
	height:260px;
	width: 300px; 
	margin-right:80px;
}
#rightabout #tableabout #diva4 p:first-child{
	text-align: center;
	font-size: 17px;
	color: #2F4F4F;
	font-style: italic; 
	padding-left:
	}
#rightabout #tableabout  #diva4 p:nth-of-type(2){
	text-align: center;
	font-size: 17px;
	color: #2F4F4F;
	font-style: italic; 
}
#rightabout #tableabout  #diva5 img:first-child{
	float: left;
	height:260px;
	width:300px; 
	margin-left: 120px; 
}
#rightabout #tableabout #diva5 img:nth-of-type(2){
	float: right;
	height:260px;
	width: 300px; 
	margin-right:80px;
}
#rightabout #tableabout #diva6 p:first-child{
	text-align: center;
	font-size: 17px;
	color: #2F4F4F;
	font-style: italic; 
	padding-left:
	}
#rightabout #tableabout  #diva6 p:nth-of-type(2){
	text-align: center;
	font-size: 17px;
	color: #2F4F4F;
	font-style: italic; 
}
#rightabout #loinus {
	text-align: center;
}
#leftabout { 
	background-color:#C0C0C0;
	width: 21%; 
	height: 1950px;
	float: left;
	margin-top: 50px;
}
#leftabout  a:first-child{
	color: #2F4F4F;
	text-align: center;
	text-transform: capitalize;
	font-family: Monospace;
	font-size: 1.5em;
	padding-left: 90px;
}
#leftabout a:nth-of-type(2){
	color: #2F4F4F;
	text-align: center;
	text-transform: capitalize;
	font-family: Monospace;
	font-size: 1.5em;
	padding-left: 70px;
}
#leftabout a:nth-of-type(3){
	color: #2F4F4F;
	text-align: center;
	text-transform: capitalize;
	font-family: Monospace;
	font-size: 1.5em;
	padding-left: 40px;
}  
#leftabout a:nth-of-type(4){
	color: #2F4F4F;
	text-align: center;
	text-transform: capitalize;
	font-family: Monospace;
	font-size: 1.5em;
	padding-left: 70px;
}
#leftabout a:nth-of-type(5){
	color: #2F4F4F;
	text-align: center;
	text-transform: capitalize;
	font-family: Monospace;
	font-size: 1.5em;
	padding-left: 50px;
}
#footerabout{
	background-color: #B0C4DE;
	width: 98.2%;
	height: 50px;
	position: absolute; 
    margin-top: 2000px;
  }
#footerabout #one {
	 width: 30%;
	 display: inline;
	 float: left;
	 background-color: #C0C0C0;
	 margin-top: 10px;
	 margin-left: 120px;
	 color: #2F4F4F;
}
#footerabout #two {
	 width: 30%;
	 display: inline;
	 float: right;
	 background-color: #C0C0C0;
	 margin-top: 10px;
	 margin-right: 120px;
	  color: #2F4F4F;
 }
 
 
 
 
 
 
#menuget {
	background-color: #B0C4DE;
	width: 99%; 
	height: 60px;
 }
#headerget {
	background-color: #B0C4DE;
	width: 99%; 
	height: 180px;
	}
#headerget p{
	color: #696969; 
	font-style: italic; 
	text-align: center;
	font-family: Georgia;
	text-transform: capitalize;
	font-size: 450%;
	padding-left: 100px;
}
#menuget {
	background-color: #B0C4DE;
	width: 99%; 
	height: 60px;
}
#menuget a:first-child{
	color: #696969; 
	font-family: Serif; 
	text-align: center;
	text-transform: capitalize;
	font-size: 200%;
	padding-left: 70px;
}
#menuget a:nth-of-type(2){
	color: #696969; 
	font-family: Serif; 
	text-align: center;
	text-transform: capitalize;
	font-size: 200%;
	padding-left: 100px;
}
#menuget a:nth-of-type(3){
	color: #696969; 
	font-family: Serif; 
	text-align: center;
	text-transform: capitalize;
	font-size: 200%;
	padding-left: 100px;
}
#menuget a:nth-of-type(4){
	color: #696969; 
	font-family: Serif; 
	text-align: center;
	text-transform: capitalize;
	font-size: 200%;
	padding-left: 100px;
}
#menuget a:nth-of-type(5){
	color: #696969; 
	font-family: Serif; 
	text-align: center;
	text-transform: capitalize;
	font-size: 200%;
	padding-left: 100px;
}
#rightget {
	background-color: #DCDCDC;
	width: 76%; 
	height: 1950px;
	float: right;
	margin-top: 50px;
	margin-left: 15px;
}
#rightget #text p {
	font-style: italic; 
	text-align: left;
	font-size: 25px;
	color: black;
	margin-top: 20px;
}
#rightget #text #table {
	margin-top: 20px;
	width: 100%;
}
#rightget #table  #div1 img:first-child{
	height: 270px;
	width: 370px;
	margin-left: 70px;
	margin-right: 30px;
	float: center;
}
#rightget #table  #div1 img:nth-of-type(2){
	height: 270px;
	width: 370px;
	float: center;
}
#rightget #table  #div2 p:first-child {
	font-style: italic; 
	font-size: 19px;
	color: 	#2F4F4F;
}
#rightget #table  #div2 p:nth-of-type(2){
	font-style: italic; 
	font-size: 19px;
	color: 	#2F4F4F;
}
#rightget #table  #div3 img:first-child{
	height: 270px;
	width: 370px;
	margin-left: 70px;
	margin-right: 30px;
	float: center;
}
#rightget #table  #div3 img:nth-of-type(2){
	height: 270px;
	width: 370px;
	float: center;
}
#rightget #table  #div4 p:first-child {
	font-style: italic; 
	font-size: 19px;
	color: 	#2F4F4F;
}
#rightget #table  #div4 p:nth-of-type(2){
	font-style: italic; 
	font-size: 19px;
	color: 	#2F4F4F;
}
#rightget #table  #div5 img:first-child{
	height: 270px;
	width: 370px;
	margin-left: 70px;
	margin-right: 30px;
	float: center;
}
#rightget #table  #div5 img:nth-of-type(2){
	height: 270px;
	width: 370px;
	float: center;
}
#rightget #table  #div6 p:first-child {
	font-style: italic; 
	font-size: 19px;
	color: 	#2F4F4F;
}
#rightget #table  #div6 p:nth-of-type(2){
	font-style: italic; 
	font-size: 19px;
	color: 	#2F4F4F;
}
#rightget #table  #div7 img:first-child{
	height: 430px;
	width: 370px;
	margin-left: 70px;
	margin-right: 30px;
	float: center;
}
#rightget #table  #div7 img:nth-of-type(2){
	height: 430px;
	width: 370px;
	float: center;
}
#rightget #table  #div8 p:first-child {
	font-style: italic; 
	font-size: 19px;
	color: 	#2F4F4F;
}
#rightget #table  #div8 p:nth-of-type(2){
	font-style: italic; 
	font-size: 19px;
	color: 	#2F4F4F;
}
#leftget { 
	background-color:#C0C0C0;
	width: 21%; 
	height: 1950px;
	float: left;
	margin-top: 50px;
}
#leftget  a:first-child{
	color: #2F4F4F;
	text-align: center;
	text-transform: capitalize;
	font-family: Monospace;
	font-size: 1.5em;
	padding-left: 90px;
}
#leftget a:nth-of-type(2){
	color: #2F4F4F;
	text-align: center;
	text-transform: capitalize;
	font-family: Monospace;
	font-size: 1.5em;
	padding-left: 70px;
}
#leftget a:nth-of-type(3){
	color: #2F4F4F;
	text-align: center;
	text-transform: capitalize;
	font-family: Monospace;
	font-size: 1.5em;
	padding-left: 40px;
}  
#leftget a:nth-of-type(4){
	color: #2F4F4F;
	text-align: center;
	text-transform: capitalize;
	font-family: Monospace;
	font-size: 1.5em;
	padding-left: 70px;
}
#leftget a:nth-of-type(5){
	color: #2F4F4F;
	text-align: center;
	text-transform: capitalize;
	font-family: Monospace;
	font-size: 1.5em;
	padding-left: 50px;
}
#footerget{
	background-color: #B0C4DE;
	width: 98.2%;
	height: 50px;
	position: absolute; 
    margin-top: 2000px;
  }
#footerget #one {
	 width: 30%;
	 display: inline;
	 float: left;
	 background-color: #C0C0C0;
	 margin-top: 10px;
	 margin-left: 120px;
	 color: #2F4F4F;
}
#footerget #two {
	 width: 30%;
	 display: inline;
	 float: right;
	 background-color: #C0C0C0;
	 margin-top: 10px;
	 margin-right: 120px;
	  color: #2F4F4F;
 }
 
 
 
 
 
 
 
 
 #headerjoin {
	background-color: #B0C4DE;
	width: 99%; 
	height: 180px;
 }
#headerjoin p{
	color: #696969; 
	font-style: italic; 
	text-align: center;
	font-family: Georgia;
	text-transform: capitalize;
	font-size: 450%;
	padding-left: 100px;
}
#menujoin {
	background-color: #B0C4DE;
	width: 99%; 
	height: 60px;
}
 #menujoin a:first-child{
	color: #696969; 
	font-family: Serif; 
	text-align: center;
	text-transform: capitalize;
	font-size: 200%;
	padding-left: 70px;
}
#menujoin a:nth-of-type(2){
	color: #696969; 
	font-family: Serif; 
	text-align: center;
	text-transform: capitalize;
	font-size: 200%;
	padding-left: 100px;
}
#menujoin a:nth-of-type(3){
	color: #696969; 
	font-family: Serif; 
	text-align: center;
	text-transform: capitalize;
	font-size: 200%;
	padding-left: 100px;
}
#menujoin a:nth-of-type(4){
	color: #696969; 
	font-family: Serif; 
	text-align: center;
	text-transform: capitalize;
	font-size: 200%;
	padding-left: 100px;
}
#menujoin a:nth-of-type(5){
	color: #696969; 
	font-family: Serif; 
	text-align: center;
	text-transform: capitalize;
	font-size: 200%;
	padding-left: 100px;
}
#rightjoin {
	background-color: #DCDCDC;
	width: 76%; 
	height: 1950px;
	float: right;
	margin-top: 50px;
	margin-left: 15px;
}
#rightjoin p {
	font-style: italic; 
	text-align: left;
	font-size: 25px;
	color: black;
	margin-top: 20px;
}
#leftjoin { 
	background-color:#C0C0C0;
	width: 21%; 
	height: 1950px;
	float: left;
	margin-top: 50px;
}
#leftjoin  a:first-child{
	color: #2F4F4F;
	text-align: center;
	text-transform: capitalize;
	font-family: Monospace;
	font-size: 1.5em;
	padding-left: 90px;
}
#leftjoin a:nth-of-type(2){
	color: #2F4F4F;
	text-align: center;
	text-transform: capitalize;
	font-family: Monospace;
	font-size: 1.5em;
	padding-left: 70px;
}
#leftjoin a:nth-of-type(3){
	color: #2F4F4F;
	text-align: center;
	text-transform: capitalize;
	font-family: Monospace;
	font-size: 1.5em;
	padding-left: 40px;
}  
#leftjoin a:nth-of-type(4){
	color: #2F4F4F;
	text-align: center;
	text-transform: capitalize;
	font-family: Monospace;
	font-size: 1.5em;
	padding-left: 70px;
}
#leftjoin a:nth-of-type(5){
	color: #2F4F4F;
	text-align: center;
	text-transform: capitalize;
	font-family: Monospace;
	font-size: 1.5em;
	padding-left: 50px;
}
#footerjoin {
	background-color: #B0C4DE;
	width: 98.2%; 
	height: 50px;
	position: absolute; 
    margin-top: 2000px;
}
#footerjoin #one {
	 width: 30%;
	 display: inline;
	 float: left;
	 background-color: #C0C0C0;
	 margin-top: 10px;
	 margin-left: 120px;
	 color: #2F4F4F;
}
#footerjoin #two {
	 width: 30%;
	 display: inline;
	 float: right;
	 background-color: #C0C0C0;
	 margin-top: 10px;
	 margin-right: 120px;
	  color: #2F4F4F;
 }
 
 
#headercontact {
	background-color: #B0C4DE;
	width: 99%; 
	height: 180px;
}
#headercontact p{
	color: #696969; 
	font-style: italic; 
	text-align: center;
	font-family: Georgia;
	text-transform: capitalize;
	font-size: 450%;
	padding-left: 100px;
}
#menucontact {
	background-color: #B0C4DE;
	width: 99%; 
	height: 60px;
}
#menucontact a:first-child{
	color: #696969; 
	font-family: Serif; 
	text-align: center;
	text-transform: capitalize;
	font-size: 200%;
	padding-left: 70px;
}
#menucontact a:nth-of-type(2){
	color: #696969; 
	font-family: Serif; 
	text-align: center;
	text-transform: capitalize;
	font-size: 200%;
	padding-left: 100px;
}
#menucontact a:nth-of-type(3){
	color: #696969; 
	font-family: Serif; 
	text-align: center;
	text-transform: capitalize;
	font-size: 200%;
	padding-left: 100px;
}
#menucontact a:nth-of-type(4){
	color: #696969; 
	font-family: Serif; 
	text-align: center;
	text-transform: capitalize;
	font-size: 200%;
	padding-left: 100px;
}
#menucontact a:nth-of-type(5){
	color: #696969; 
	font-family: Serif; 
	text-align: center;
	text-transform: capitalize;
	font-size: 200%;
	padding-left: 100px;
}
#rightcontact {
	background-color: #DCDCDC;
	width: 76%; 
	height: 1950px;
	float: right;
	margin-top: 50px;
	margin-left: 15px;
}
#rightcontact #pep1 img {
	float: right;
	height:430px;
	width:300px; 
	margin-right:-50px;
	margin-left: 80px;
}
#rightcontact #pep1 {
	margin-left:15px;
	margin-top:40px;
	margin-right: 65px;
	font-style: italic; 
	text-align: center;
	font-size: 20px;
	color: black;
}
#rightcontact #pep2  {
    margin-left:-90px;
	margin-top: 50px;
	margin-right: 40px;
	font-style: italic; 
	text-align: center;
	font-size: 20px;
	color: black;
}
#rightcontact #pep3 img{
	float: center;
	height:400px;
	width:540px; 
	margin-left: -50px;
	margin-top: -50px;
	overfloat: auto;
}
#rightcontact #pep4  ul {
	margin-left: 15px;
	margin-top: 40px;
	margin-right: 65px;
	font-style: italic; 
	text-align: center;
	font-size: 20px;
	color: black;
}
#leftcontact { 
	background-color:#C0C0C0;
	width: 21%; 
	height: 1950px;
	float: left;
	margin-top: 50px;
}
#leftcontact  a:first-child{
	color: #2F4F4F;
	text-align: center;
	text-transform: capitalize;
	font-family: Monospace;
	font-size: 1.5em;
	padding-left: 90px;
}
#leftcontact a:nth-of-type(2){
	color: #2F4F4F;
	text-align: center;
	text-transform: capitalize;
	font-family: Monospace;
	font-size: 1.5em;
	padding-left: 70px;
}
#leftcontact a:nth-of-type(3){
	color: #2F4F4F;
	text-align: center;
	text-transform: capitalize;
	font-family: Monospace;
	font-size: 1.5em;
	padding-left: 40px;
}  
#leftcontact a:nth-of-type(4){
	color: #2F4F4F;
	text-align: center;
	text-transform: capitalize;
	font-family: Monospace;
	font-size: 1.5em;
	padding-left: 70px;
}
#leftcontact a:nth-of-type(5){
	color: #2F4F4F;
	text-align: center;
	text-transform: capitalize;
	font-family: Monospace;
	font-size: 1.5em;
	padding-left: 50px;
}
#footercontact {
	background-color: #B0C4DE;
	width: 98.2%; 
	height: 50px;
	position: absolute; 
    margin-top: 2000px;
}
#footercontact #one {
	 width: 30%;
	 display: inline;
	 float: left;
	 background-color: #C0C0C0;
	 margin-top: 10px;
	 margin-left: 120px;
	 color: #2F4F4F;
}
#footercontact #two {
	 width: 30%;
	 display: inline;
	 float: right;
	 background-color: #C0C0C0;
	 margin-top: 10px;
	 margin-right: 120px;
	  color: #2F4F4F;
 }
 
 
 
 

	